PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=blog
DB_PASSWORD=blog
DB_NAME=blog

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=blog-platform
KEYCLOAK_CLIENT_ID=blog-api
KEYCLOAK_CLIENT_SECRET=change-me
